{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<!-- Passport.authenticate will attach an error message via req.flash('error') -->
<!-- This is saved onto res.locals.error as specified in app.js middleware - app.use -->
{{#if error}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger col-md-6 mx-auto">{{message}}</div>
  {{/each}}
{{/if}}
